{% extends 'base.html'%}
{% block content %}
<div class="container">
  <div class="row">
    <h1>Trip.it Event Details Page</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-lg my-5">
        <div class="row">
          <div class="col-md-4">
            <img src="{{ event.image }}" class="img-fluid rounded-start" style="height:100%;object-fit: cover;" alt="{{ event.name }} image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ event.name }}</h5>
              <p class="card-text">{{ event.description }}</p>
              <p class="card-text"><b>Event Date: </b>{{ event.date }}</p>
              <p class="card-text"><b>Address: </b>{{ event.address }}</p>
              <div id="details_map"></div>
              <script src="https://maps.googleapis.com/maps/api/js?key={{googlekey}}&callback=initMap&v=weekly" defer></script>
              <a href="https://www.google.com/maps/dir/?api=1&destination={{url}}" class="btn btn-primary" target="_blank">Get Directions</a>
              <a href="/events" class="btn btn-secondary">Back to Events Page</a>
              <a href="/events/{{ event.id }}/update" class="btn btn-secondary">Edit Event</a>
              <a href="/events/{{ event.id }}/delete" class="btn btn-warning">Delete Event</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  let mapData = JSON.parse('{{gmapdata|escapejs}}');
  let mLat = mapData.mapdata[0].geometry.location.lat;
  let mLng = mapData.mapdata[0].geometry.location.lng
  console.log(mapData.mapdata[0].geometry.location.lat)


  function initMap() {
        const map = new google.maps.Map(document.getElementById('details_map'), {
            zoom: 15,
            center: { lat: parseFloat(mLat), lng: parseFloat(mLng) }
        });
        const currentLocation = new google.maps.Marker({
            position: { lat: parseFloat(mLat), lng: parseFloat(mLng) },
            map: map,
        })
  }
</script>
{% endblock %}