<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip.it</title>
</head>

<body>
    <h1>Trip.it Events Page</h1>
    {% for event in events %}
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">{{ event.name }}</h5>
            <a href="/cats/{{ cat.id }}" class="btn btn-primary">View {{ event.description }}</a>
        </div>
    </div>
    {% endfor %}

</body>

</html>